<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>My Algorithm</title>
  <link href="/css/algo.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
</head>
<body>

<div id="app">
  <div class="home">
    <div class="home-icon">
      <a href="javascript:void(0);">
        <img src="/img/home_algo.svg">
      </a>
    </div>
    <span class="follow-home">My Algorithm</span>
  </div>
  <div class="algo-list">
    <span>机器学习算法</span>
    <span>机器学习算法</span>
    <span>机器学习算法</span>
    <span>机器学习算法</span>
  </div>
  <div class="main-box">
  </div>>
</div>

<script src="js/jquery.min.js"></script>
<script>

  const EventHandling = {
    data() {
      return {
        module_more_show:false,
      }
    },
    methods: {

    }
  }

  app = Vue.createApp(EventHandling)

  const vm = app.mount('#app')

</script>

</body>
</html>
