
.bookdo button {
    margin-right: 3%;
}

.resume {
    line-height: 1.6;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    word-break: break-word;
    -webkit-line-clamp: 3;
    text-align: left;
}

.book-catalogue-list {
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.catalogue_location {
    position: fixed;
    right: 8%;
    bottom: 10%;
    transition: all 300ms ease;
}
.catalogue_location a {
    line-height: 0;
}
.catalogue_location svg {
    height: 2.5em;
}
.catalogue_location:hover {
    transform: scale(1.25);
}