/* shang begin */

.shang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.shang img {
    width: 70%;
    margin: 10% auto;
    border-radius: 10px;
}

/* shang end */